.reg-log{
    text-align: left;
}
.reg-log-button{
    display: flex;
}
.text-left{
    text-align: left;
    margin-left: 1rem;
    margin-block: auto;
}
.user-buttons-container{
    text-align: center;
}
.user-button{
    text-align: center;
}
.logout-button{
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    margin-left: 40px;
    margin-top: 40%;
}
