<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Справка</title>
    <style>
        body {
            font-family: "Times New Roman", sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            background-color: #d4a017;
            color: white;
            padding: 10px;
            text-align: center;
            position: relative;
        }
    </style>
</head>
<body>
<div class="header">
    Справка
</div>
<h4 style="text-align: center">Информация о разработчиках</h4>
<hr>
<div style="text-align: center">
    <p>Лабораторный практикум по дисциплине:<br>
        "Технологии программирования"</p>
    <p>Тема проекта:<br>"Автоматизированная система составления<br>
        и разгадывания сканворда на заданную тему"</p>
    <p>Разработчики:</p>
</div>
<pre style="font-family: 'Times New Roman';text-align: center">
            Обучающийся                                                                                     Ю.Д. Вальков<br>
            Обучающийся                                                                                     К.Р. Давлетяров<br>
            Обучающийся                                                                                     Д.Р. Кашапов<br>
            Обучающийся                                                                                     Е.Д. Киселев<br>
            Руководитель                                                                                      Л.С. Зеленко
</pre>
<p style="text-align: center; color: gray">Самара 2024</p>
</body>
</html>