<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справка</title>
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
<header>
    Справка
</header>
<div id="Content">
    <section class="main-content">
        <div class="container">
            <h4>Содержание</h4>
            <hr>
            <ul>
                <li style="text-align: left"><a href="#Developers">Справка</a></li>
                <li style="text-align: left"><a href="#AdoutSystem">О системе</a></li>
                <li th:if="${isAuthenticated}" style="text-align: left"><a href="#Guide">Руководство для использования системы</a></li>
                <li th:if="${!isAuthenticated}" style="text-align: left"><a href="#Authorization">Руководство для авторизации в системе</a></li>
            </ul>
        </div>
    </section>
</div>
<div id="Developers">
    <section class="main-content">
        <div class="container">
            <h4>Информация о разработчиках</h4>
            <hr>
            <p>Лабораторный практикум по дисциплине:<br>
                "Технологии программирования"</p>
            <p>Тема проекта:<br>"Автоматизированная система составления<br>
                и разгадывания сканворда на заданную тему"</p>
            <p>Разработчики:</p>
            <pre style="display: grid">
            <p style="text-align: left; margin: 5px 0">Обучающиеся гр.6401-090301</p>
            <p class="fio">Ю.Д. Вальков</p>
            <p class="fio">К.Р. Давлетяров</p>
            <p class="fio">Д.Р. Кашапов</p>
            <p class="fio">Е.Д. Киселев</p>
            <div style="display: flex">
                <p style="text-align: left; margin: 5px 0; flex-grow: 1">Руководитель</p>
                <p class="fio" style="flex-grow: 1">Л.С. Зеленко</p>
            </div>
</pre>
            <p class="samara">Самара 2024</p>
            <p style="text-align: right"><a href="#Content"> Наверх</a></p>
        </div>
    </section>
</div>
<div id="AdoutSystem">
    <section class="main-content">
        <div class="container">
            <h4>О системе</h4>
            <hr>
            <div>

            </div>
            <p style="text-align: right"><a href="#Content"> Наверх</a></p>
        </div>
    </section>
</div>
<div id="Guide" th:if="${isAuthenticated}">
    <div id="isAdmin" th:if="${isAdmin}">
        <section class="main-content">
            <div class="container">
                <h4>Руководство администратора</h4>
                <hr>
                <div>
                    <p style="text-align: left">
                        В главном меню представлен ряд возможностей представленных на картинке<br>
                    <div style="text-align: center">
                        <img src = "/help-images/admin1.png">
                    </div>
                    Кнопка "Начать создание нового сканворда", при нажатии на которую открывается страница ввода параметров для создания сканворда.<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin2.png">
                    </div>
                    Для создания нового сканворда необходимо ввести:
                    <ul>
                        <li style="text-align: left">Ввести Название сканворда (не менее 4 символов)</li>
                        <li style="text-align: left">Ввести ширину сканворда</li>
                        <li style="text-align: left">Ввести длину сканворда</li>
                        <li style="text-align: left">Ввести количество подсказок для сканворда</li>
                        <li style="text-align: left">Выбрать словарь понятий для сканворда</li>
                    </ul>
                    После ввода параметров необходимо нажать кнопку "Создать", после чего начнётся создание сканворда<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin3.png">
                    </div>
                    При нажатии и удерживании левой кнопки мышки (далее ЛКМ) происходит выделение синим цветом,
                    изображающее выбор местоположения ответа на вопрос в сканворде.<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin4.png">
                    </div>
                    После выбора местоположения необходимо отпустить ЛКМ для дальнейшего выбора местоположения вопроса. Вопрос может располагаться только рядом с начальной клеткой ответа.
                    <div style="text-align: center">
                        <img src="/help-images/admin5.png">
                    </div>
                    Для выбора места расположения вопроса необходимо нажать ЛКМ в подсвечиваемых клетках. После чего появиться Список слов, которые можно поставить в клетки.<br>
                    Если при выборе местоположения ответа или вопроса вы произвели ошибку, то необходимо нажать клавишу "Ecs" на клавиатуре, что приведёт к сбросу выделенных ячеек.<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin6.png">
                    </div>
                    При нажатии на слово "Слово" в списке будет произведена сортировка по Слову от А до Я, при повторном нажатии на слово будет произведена сортировка от Я до А.<br>
                    При нажатии на слово "Тип" в списке будет произведена сортировка по типу, при повторном нажатии на слово будет произведена обратная сортировка.<br>
                    При нажатии на тип интересующего вас вопроса будет отображёно содержимое вопроса.<br>
                    При нажатии на слово интересующего вас вопроса будет произведена подставка слова в выделенные ячейки.<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin7.png">
                    </div>
                    Если при вводе слова нет нужного для вставки, можно добавить слово нажатием кнопки "Добавить", что разрешит добавить слово в словарь, не переходя в раздел работы со словарём.<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin8.png">
                    </div>
                    При вводе ответа разрешен ввод только слов кириллицы и без использования цифр. При вводе вопроса разрешён ввод цифр.
                    При неверном вводе в нижнем правом углу будет отбражён символ.
                    <div style="text-align: center">
                        <img src="/help-images/admin9.png">
                    </div>
                    При верном вводе в нижнем правом углу будет отбражён символ, ввод слова закроется и добавленное слово отобразиться в списке.
                    <div style="text-align: center">
                        <img src="/help-images/admin10.png">
                    </div>
                    Для удаления пар слов и вопросов необходимо включить режим удаления кнопкой "Удалить слово".<br>
                    <div style="text-align: center">
                        <img src="/help-images/admin11.png">
                    </div>
                    После чего нажатием ЛКМ по слову или вопросу произойдёт их удаление.
                    Для отключения режима удаления необходимо повторно нажать кнопку "Удалить слово"
                    <div style="text-align: center">
                        <img src="/help-images/admin11.png">
                    </div>
                    Для сохранения сканворда необходимо нажать клавишу "Сохранить" и в зависимости от завершённости сканворда можно получить ошибку
                    (при попытке сохранить пустой сканворд) или получить сообщение об успешном сохранении сканворда, где при полном его завершении, он будет отображаться пользователям или,
                    если сканворд завершён не полностью, можно будет вернуться к его созданию по нажатию кнопки "Продолжить создание сканворда" в главном меню.
                    </p>
                </div>
                <p style="text-align: right"><a href="#Content"> Наверх</a></p>
            </div>
        </section>
    </div>
    <div id="isUser" th:if="${isUser}">
        <section class="main-content">
            <div class="container">
                <h4>Руководство пользователя</h4>
                <hr>
                <div>
                    <p>

                    </p>
                </div>
                <p style="text-align: right"><a href="#Content"> Наверх</a></p>
            </div>
        </section>
    </div>
</div>
<div id="Authorization" th:if="${!isAuthenticated}">
    <section class="main-content">
        <div class="container">
            <h4>Руководство по авторизации в системе</h4>
            <hr>
            <div>
                <p style="text-align: left">
                    Для получения доступа к системе необходимо нажать кнопку "Войти", если у вас уже есть аккаунт. Если же вы первый раз в системе, то необходимо выбрать кнопку "Регистрация" для создания нового аккаунта.<br>
                    <img style="text-align: center" src="/help-images/auth1.png"><br>
                    При нажатии кнопки "Войти" в поля Логин и Пароль необходимо ввести Логин и Пароль соответственно от аккаунта.<br>
                    Если же у вас нет аккаунта, вы можете перейти на регистрацию нажатием на текст "Зарегистрироваться".<br>
                    <img style="text-align: center" src="/help-images/auth2.png"><br>
                    При нажатии кнопки "Регистрация" необходимо ввести Имя, Пароль и ввести пароль повторно.<br>
                    При вводе Имени и Пароля необходимо вводить более 4 символов.<br>
                    При повторном вводе Пароля необходимо ввести те же символы, которые были введены в поле пароля.<br>
                    <img style="text-align: center" src="/help-images/auth3.png"><br>
                    После чего необходимо ввести логин и пароль снова, для успешной авторизации.<br>
                </p>
            </div>
            <p style="text-align: right"><a href="#Content"> Наверх</a></p>
        </div>
    </section>
</div>
</body>
</html>