<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Справка</title>
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
<header>
    Справка
</header>
<section class="main-content">
    <div class="container">
        <h4>Информация о разработчиках</h4>
        <hr>
        <p>Лабораторный практикум по дисциплине:<br>
            "Технологии программирования"</p>
        <p>Тема проекта:<br>"Автоматизированная система составления<br>
            и разгадывания сканворда на заданную тему"</p>
        <p>Разработчики:</p>
        <pre>
Обучающийся                                                                    Ю.Д. Вальков<br>
Обучающийся                                                                    К.Р. Давлетяров<br>
Обучающийся                                                                    Д.Р. Кашапов<br>
Обучающийся                                                                    Е.Д. Киселев<br>
Руководитель                                                                     Л.С. Зеленко
</pre>
        <p class="samara">Самара 2024</p>
    </div>
</section>

</body>
</html>