<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .username {
            text-align: center;
            font-size: 1.25rem; /* увеличенный размер шрифта */
        }
        .compact-text {
            margin-bottom: 0; /* устранение нижнего отступа */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div th:if="${isAuthenticated}">
            <div class="card-body">
                <h2 class="card-title">Hello There! <span th:text="${username}"></span></h2>
                <div class="mt-4">

                </div>
            </div>
        </div>
        <div th:if="${isAdmin}">
        </div>
        <div th:if="${!isAuthenticated}">
            <div class="card-body">
                <h2 class="card-title">Hello There!</h2>
                <div class="mt-4">
                    <a href="/login" class="btn btn-primary mr-3">Войти</a>
                    <a href="/register" class="btn btn-secondary">Зарегистрироваться</a>
                </div>
            </div>
        </div>

    </div>
</div>>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>