<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div th:if="${isAuthenticated}">
    <div class="container mt-5 index-body">
        <div class="card authenticated">
            <div class="card-body">
                <div class="card-header">
                    <h2 class="card-title">Hello there, <span th:text="${username}"!></span></h2>
                </div>
                <div class="user-buttons-container authenticated-body">
                    <div class="mt-4 button">
                        <a href="/start" class="btn btn-primary btn-user">Начать разгадывание нового сканворда</a>
                    </div>
                    <div class="mt-4 button">
                        <a href="/game" class="btn btn-primary btn-user">Продолжить разгадывание сканворда</a>
                    </div>
                </div>
            </div>
            <div class="logout-button">
                <a href="/logout" class="btn btn-secondary">Выйти из системы</a>
            </div>
        </div>
    </div>
</div>

<div th:if="${isAdmin}">
    <div class="container mt-5">
        <div class="card">

        </div>
    </div>
</div>

<div th:if="${!isAuthenticated}">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Hello there, Anonymous!</h2>
                <div class="mt-4">
                    <a href="/login" class="btn btn-primary mr-3">Войти</a>
                    <a href="/register" class="btn btn-secondary">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>