<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .reg-log{
            text-align: left;
        }
        .error-message {
            color: red;
            display: none;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Регистрация</h2>
    <div th:if="${param.error}" class="alert alert-danger">
        Пользователь с данным именем уже существует.
    </div>

    <form id="registerForm" th:action="@{/register}" th:object="${User}" method="post" class="mt-3">
        <div class="reg-log">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Имя" required />
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required />
            </div>
            <div class="form-group">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Повторите пароль" required />
                <div id="passwordError" class="error-message">Пароли не совпадают.</div>
            </div>
        </div>
        <div class="reg-log-button">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            <div class="text-left">
                Уже имеется аккаунт? <a href="login">Войти</a>
            </div>
        </div>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        var passwordError = document.getElementById('passwordError');

        if (password !== confirmPassword) {
            event.preventDefault(); // Предотвращаем отправку формы
            passwordError.style.display = 'block'; // Показываем сообщение об ошибке
        } else {
            passwordError.style.display = 'none'; // Скрываем сообщение об ошибке
        }
    });
</script>
</body>
</html>