<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание сканворда</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f0f0f0;
            margin: 0;
        }

        .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .form-body {
            display: flex;
            flex-direction: row; /* Изменение на row для размещения кнопок и сетки рядом */
            align-items: flex-start; /* Выравнивание по верхнему краю */
            justify-content: left; /* Центрирование по горизонтали */
            flex-grow: 1; /* Эти параметры позволяют компонентам занимать доступное пространство */
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .controls {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        .grid {
            display: grid;
            gap: 1px;
            margin-left: 20px; /* Отступ от кнопок */
            margin-top: 20px; /* Отступ сверху */
            justify-self: center; /* Центрирование сетки в её контейнере */
        }

        .cell {
            border: 1px solid #ccc;
            width: 25px;
            height: 25px;
            background-color: white;
            transition: background-color 0.2s ease; /* Плавный переход цвета */
            text-align: center;
        }

        .preview-highlight {
            background-color: rgba(0, 0, 255, 0.5);
        }

        .highlight {
            background-color: blue;
        }

        .answer-preview:hover {
            background-color: rgba(255, 0, 0, 0.5);
        }

        .answer-final {
            background-color: red;
        }
        .controls button {
            margin-bottom: 5px;
        }
        .delete-highlight {
            outline: 2px solid red; /* Красная рамка для выделения */
        }
        .item-type, .item-answer{
            cursor: pointer;
        }
        .texted
        {
            background-color: white;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h2>Создание сканворда</h2>
    <div class="form-body">
        <div class="controls">
            <button onclick="addWord()">Добавить</button>
            <button onclick="saveScanword()">Сохранить</button>
            <button class="back" onclick="enableDelete()">Удалить слово</button>
            <button class="back" onclick="goBack()">Назад</button>
        </div>
        <div id="scanwordGrid" class="grid">

        </div>
        <div class="word-container">
            <div class="word-list" id="wordList">
                <!-- Слова будут добавлены здесь динамически -->
            </div>
        </div>
    </div>
</div>

<script>
    const scanwordName = localStorage.getItem('scanwordName');
    const width = +localStorage.getItem('scanwordWidth');
    const height = +localStorage.getItem('scanwordHeight');
    const maxLineLength = 10;
    const minLineLength = 2;

    let isMouseDown = false;
    let startCell = null;
    let selectedCells = [];
    let answerPreviewCells = [];
    let lastFinalCells = [];
    let answerAdded = true;
    let deleteMode = false;
    let currentID = 1;
    let choosen = true;

    document.addEventListener('DOMContentLoaded', function () {
        createGrid(width, height);
        document.title = `Сканворд: ${scanwordName}`;

        document.addEventListener('mousedown', handleMouseDown);
        document.addEventListener('mousemove', handleMouseMove);
        document.addEventListener('mouseup', handleMouseUp);
        document.addEventListener('keydown', handleKeyDown);
    });

    function createGrid(cols, rows) {
        const grid = document.getElementById('scanwordGrid');
        grid.style.gridTemplateColumns = `repeat(${cols}, 25px)`;
        grid.style.gridTemplateRows = `repeat(${rows}, 25px)`;
        grid.innerHTML = '';

        for (let i = 0; i < rows; i++) {
            for (let j = 0; j < cols; j++) {
                const cell = document.createElement('div');
                cell.classList.add('cell');
                cell.dataset.row = i;
                cell.dataset.col = j;
                grid.appendChild(cell);
            }
        }
    }

    function saveScanword() {
        let isCompleted = true;
        let cells = document.querySelectorAll(`.cell`);
        let scanwordData = [];
        cells.forEach(cell => {
            let row = null;
            let col = null;
            let letter = null;
            let task = null;
            let taskType = null;
            let taskId = null;
            let word = null;
            if(cell.classList.contains('answer-final') || cell.classList.contains('highlight'))
            {
                console.log(cell);
                row = cell.dataset.row;
                col = cell.dataset.col;
                task = cell.classList.contains('answer-final'); // Проверяем, является ли ячейка заданием
                if (task) {
                    // Если ячейка является заданием, получаем тип и ID
                    taskType = cell.textContent === '📄'? "VERBAL" : (cell.textContent === '🖼️'? "IMAGE" : "MELODY");
                    taskId = (taskType === "IMAGE" || taskType === "MELODY") ? cell.dataset.taskId : null; // Предполагаем, что ID хранится в dataset
                    word = cell.dataset.word;
                }
                else
                {
                    letter = cell.textContent;
                }
            }
            else{
                isCompleted = false;
            }

            // Добавляем данные ячейки в массив
            scanwordData.push({
                row: row,
                col: col,
                letter: letter,
                task: task,
                taskType: taskType,
                taskId: taskId,
                word: word
            });
            if(!task)
            {
                cell.textContent = "";
            }
        });
        const grid = document.getElementById('scanwordGrid'); // Получаем элемент, который хотим сделать скриншотом
        // Создаём скриншот
        html2canvas(grid).then(canvas => {
            // Получаем Blob из canvas
            canvas.toBlob(function(blob) {
                // Теперь blob можно использовать для получения байтового массива
                const reader = new FileReader();
                reader.onload = function(event) {
                    const preview = new Uint8Array(event.target.result); // Получаем байтовый массив
                    console.log('Byte Array:', preview);

                    // Теперь создаем объект scanwordDto
                    const scanwordDto = {
                        name: localStorage.getItem('scanwordName'),  // Имя сканворда
                        width: +localStorage.getItem('scanwordWidth'), // Ширина
                        height: +localStorage.getItem('scanwordHeight'), // Высота
                        preview: Array.from(preview), // Превью
                        dictionaryId: localStorage.getItem('dictionaryId'), // ID словаря
                        content: scanwordData, // Собранные данные о ячейках
                        isCreated: isCompleted, // Проверяем, завершен ли сканворд
                        numberOfHints: localStorage.getItem('hintsCount') // Замените на количество подсказок, если есть
                    };
                    // Отправляем данные через fetch
                    fetch('/scanword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(scanwordDto)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Ошибка сети: ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Сканворд успешно добавлен:', data);
                            alert('Сканворд успешно сохранён!');
                            window.location.href = "/";
                        })
                        .catch(error => {
                            console.error('Ошибка при добавлении сканворда:', error);
                            alert('Произошла ошибка при сохранении сканворда.');
                        });
                };
                // Читаем blob как ArrayBuffer
                reader.readAsArrayBuffer(blob);
            }, 'image/png'); // Задайте формат изображения
        }).catch(error => {
            console.error('Ошибка при создании скриншота:', error);
        });
    }

    function addWord() {
        alert('Добавление слова!');
    }

    function goBack() {
        window.history.back();
    }
    function enableDelete() {
        deleteMode = !deleteMode; // Переключаем режим удаления
        alert(deleteMode ? 'Режим удаления включен. Нажмите на клетки для их удаления.' : 'Режим удаления отключен.');
    }

    function handleMouseDown(event) {
        const cell = event.target.closest('.cell');
        if (!cell) return;
        if (deleteMode) {
            selectForDelete(cell);
            return;
        }
        if (!cell.classList.contains('answer-final') && !cell.classList.contains('answer-preview') && choosen && answerAdded) {
            answerAdded = false;
            choosen = false;
            lastFinalCells = [];
            isMouseDown = true;
            startCell = cell;
            selectedCells = [cell];  // Начинаем с выделенной ячейки
            highlightPreview(selectedCells);
        }
    }

    function handleMouseMove(event) {
        if (!isMouseDown) return;
        const cell = event.target.closest('.cell');

        if (!cell) return;

        const rowStart = parseInt(startCell.dataset.row);
        const colStart = parseInt(startCell.dataset.col);
        const rowCurrent = parseInt(cell.dataset.row);
        const colCurrent = parseInt(cell.dataset.col);

        let newCellsToHighlight = [];

        if (rowStart === rowCurrent && colStart <= colCurrent) { // Горизонтальное выделение
            newCellsToHighlight = highlightCells(rowStart, colStart, colCurrent);
        } else if (colStart === colCurrent && rowStart <= rowCurrent) { // Вертикальное выделение
            newCellsToHighlight = highlightCells(colCurrent, rowStart, rowCurrent, true);
        }

        // Убираем выделение из ранее выделенных ячеек, если они больше не в новой выборке
        selectedCells.forEach(cell => {
            if (!newCellsToHighlight.includes(cell)) {
                cell.classList.remove('preview-highlight');
                selectedCells.pop();
            }
        });

        // Добавляем новые выделенные ячейки
        newCellsToHighlight.forEach(cell => {
            if (!selectedCells.includes(cell)) {
                selectedCells.push(cell);
                cell.classList.add('preview-highlight');
            }
        });
    }

    function selectForDelete(cell) {
        const cellClasses = Array.from(cell.classList).filter(cls => cls.startsWith('id-'));
        if (cellClasses.length > 0) {
            const cellIdToRemove = cellClasses[0]; // Извлекаем первый класс как идентификатор

            // Находим все клетки с тем же id
            const allCellsToRemove = document.querySelectorAll(`.cell.${cellIdToRemove}`);

            allCellsToRemove.forEach(c => {
                c.classList.remove(cellIdToRemove); // Убираем только id
                // Удаляем 'answer-final' и 'highlight' только если у клетки 1 id
                if (c.classList.length === 2) {
                    c.classList.remove('answer-final');
                    c.textContent = "";
                }
                if(c.classList.length === 3){
                    c.classList.remove('highlight', "texted");
                    c.textContent = "";
                }
            });
        }
    }

    function highlightCells(fixed, start, end, isVertical = false) {
        let cellsToHighlight = [];
        for (let i = Math.min(start, end); i <= Math.max(start, end); i++) {
            let cell = isVertical
                ? document.querySelector(`[data-row="${i}"][data-col="${fixed}"]`)
                : document.querySelector(`[data-row="${fixed}"][data-col="${i}"]`);
            if (!cell.classList.contains('answer-final') && !cell.classList.contains('answer-preview')) {
                cellsToHighlight.push(cell);
            } else {
                break;
            }
        }
        return cellsToHighlight.length <= maxLineLength ? cellsToHighlight : [];
    }

    function clearPreview() {
        const highlightedCells = document.querySelectorAll('.preview-highlight');
        highlightedCells.forEach(cell => cell.classList.remove('preview-highlight'));
        answerPreviewCells.forEach(cell => {
            cell.classList.remove('answer-preview');
        });
        answerAdded = true;
        choosen = true;
    }

    function highlightPreview(cells) {
        cells.forEach(cell => {
            if (!cell.classList.contains('highlight')) {
                cell.classList.add('preview-highlight'); // Добавляем выделение
            }
        });
    }

    function handleMouseUp() {
        if (!isMouseDown) return;
        isMouseDown = false;

        // Проверка на длину выделенной линии
        if (selectedCells.length >= minLineLength && selectedCells.length <= maxLineLength) {
            selectedCells.forEach(cell => {
                cell.classList.remove('preview-highlight');
                cell.classList.add('highlight');
                cell.classList.add(`id-${currentID}`);
            });
            readyForAnswerPreview();
        } else {
            clearPreview();
            selectedCells = [];
        }
    }

    function readyForAnswerPreview() {
        const startRow = parseInt(startCell.dataset.row);
        const startCol = parseInt(startCell.dataset.col);

        // Отображаем клетки answer-preview вокруг начальной клетки и диагонально
        for (let i = -1; i <= 1; i++) {
            for (let j = -1; j <= 1; j++) {
                if (Math.abs(i) + Math.abs(j) === 1 || (i !== 0 && j !== 0)) { // Проверяем направления и диагонали
                    const neighborCell = document.querySelector(`[data-row="${startRow + i}"][data-col="${startCol + j}"]`);
                    if (neighborCell && !neighborCell.classList.contains('highlight') && !neighborCell.classList.contains('answer-final')) {
                        neighborCell.classList.add('answer-preview');
                        answerPreviewCells.push(neighborCell);
                    }
                }
            }
        }
    }

    function handleKeyDown(event) {
        if (event.key === 'Escape') {
            removeLastFinalCell();
            clearAllSelections();
        }
    }

    function clearAllSelections() {
        clearPreview();
        if(startCell != null)
            selectForDelete(startCell);
        selectedCells.forEach(cell => {
            cell.classList.remove("highlight");
        })
        selectedCells = [];
        answerPreviewCells = [];
        startCell = null;
    }

    function removeLastFinalCell() {
        if (lastFinalCells.length > 0) {
            const lastCell = lastFinalCells.pop();
            lastCell.classList.remove('answer-final');
            lastCell.textContent = "";
            lastCell.removeAttribute('data-word', 'data-taskId');
        }
    }

    // Обработка повторного нажатия по пустым клеткам answer-preview
    document.getElementById('scanwordGrid').addEventListener('click', (event) => {
        const cell = event.target.closest('.cell');
        if (!cell) return;

        if (cell.classList.contains('answer-preview')) {
            answerAdded = true;
            cell.classList.add('answer-final');
            cell.classList.add(`id-${currentID}`);
            lastFinalCells.push(cell);
            getWords();
            currentID++;
            clearPreview(); // Возврат к пункту 1 без сброса
        }
    });

    function getWords() {
        let regex = "";
        selectedCells.forEach(cell =>{
            if(cell.textContent === "")
            {
                regex += ".";
            }
            else
            {
                regex += cell.textContent;
            }
        });
        fetch(`/create_api?length=${selectedCells.length}&regex=${regex}&dictionaryId=${localStorage.getItem('dictionaryId')}`) // Замените на ваши параметры
            .then(response => response.json())
            .then(data => {
                console.log("Полученные данные:", data); // Проверяем структуру ответа

                // Проверяем, существует ли data и необходимые ключи
                if (data && data.data) {
                    const dictionaryData = data.data.dictionaryData || []; // Извлекаем dictionaryData или пустой массив
                    const images = data.data.images || []; // Извлекаем images или пустой массив
                    const melodies = data.data.melodies || []; // Извлекаем melodies или пустой массив

                    // Теперь передаем все данные в displayWords
                    displayWords(dictionaryData, images, melodies);
                    console.log("displayWords() отработал.")
                } else {
                    console.error("Неверная структура ответа:", data);
                }
            })
            .catch(error => console.error("Ошибка при загрузке слов:", error));
    }

    function displayWords(dictionaryData, images, melodies) {
        const wordList = document.getElementById('wordList');
        wordList.innerHTML = ''; // Очищаем перед загрузкой новых данных

        // Создаем контейнер для списка с прокруткой
        const container = document.createElement('div');
        container.style.overflowY = 'scroll';
        container.style.maxHeight = '300px'; // Высота контейнера с прокруткой
        container.style.border = '1px solid #ccc'; // Обводка для контейнера

        // Создаем заголовки для сортировки
        const header = document.createElement('div');
        header.innerHTML = `
        <div style="display: flex; justify-content: space-between; cursor: pointer;">
            <div id="answerHeader" style="flex: 1;"><strong>Ответ</strong></div>
            <div id="typeHeader" style="flex: 1;"><strong>Тип</strong></div>
        </div>
    `;

        const items = []; // Массив для хранения элементов

        // Объединяем данные слов, изображений и мелодий
        dictionaryData.forEach(item => {
            items.push({ answer: item.word, definition : item.definition,type: 'text' });
        });

        images.forEach(img => {
            items.push({ answer: img.answer.toUpperCase(), imgSrc: img.base64Image, type: 'image', id: img.id});
        });

        melodies.forEach(melody => {
            items.push({ answer: melody.answer.toUpperCase(), name: melody.name, melody64: melody.melody, type: 'audio', id: melody.id});
        });

        // Переменные для отслеживания направления сортировки
        let answerSortDirection = true; // true - по возрастанию, false - по убыванию
        let typeSortDirection = true;

        // Сортировка и отображение
        const renderItems = (itemsToRender) => {
            container.innerHTML = ''; // Очищаем контейнер перед рендерингом
            itemsToRender.forEach(item => {
                const wordItem = document.createElement('div');
                wordItem.classList.add('word-item');
                const icon = item.type === 'text' ? '📄' : item.type === 'image' ? '🖼️' : '🎵';

                wordItem.innerHTML = `
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="item-answer">${item.answer}</span>
                    <span class="item-type" >${icon}</span>
                </div>
                <div class="item-details" style="display: none;"></div>
            `;

                // Добавляем обработчик для нажатия на иконку и показываем детали
                wordItem.querySelector('.item-type').addEventListener('click', () => {
                    const detailsDiv = wordItem.querySelector('.item-details');
                    if (item.type === 'text') {
                        detailsDiv.innerHTML = item.definition; // Показываем текст
                    } else if (item.type === 'image') {
                        detailsDiv.innerHTML = `<img src="${item.imgSrc}" alt="${item.answer}" style="max-width: 100px;"/>`; // Показываем изображение
                    } else if (item.type === 'audio')
                    {
                        const base64Melody = item.melody64;
                        // Преобразуем base64 в бинарные данные
                        const byteCharacters = atob(base64Melody);
                        const byteNumbers = new Uint8Array(byteCharacters.length);
                        for (let i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        const audioBlob = new Blob([byteNumbers], {type: 'audio/mpeg'}); // Укажите правильный тип аудио
                        const audioURL = URL.createObjectURL(audioBlob);
                        detailsDiv.innerHTML = `
                        <span>${item.name}</span>
                        <audio controls>
                            <source src="${audioURL}" type="audio/mpeg">
                            Ваш браузер не поддерживает воспроизведение аудио.
                        </audio>
                    `;
                    }
                    detailsDiv.style.display = detailsDiv.style.display === 'none' ? 'block' : 'none'; // Переключаем видимость
                });
                wordItem.querySelector('.item-answer').addEventListener('click', () =>
                {
                    let icon = '';
                    let itemID = null;
                    if (item.type === 'text') {
                        icon = '📄'; // Иконка текста
                    } else if (item.type === 'image') {
                        icon = '🖼️'; // Иконка изображения
                        itemID = item.id;
                    } else if (item.type === 'audio') {
                        itemID = item.id;
                        icon = '🎵'; // Иконка аудио
                    }
                    let answerCell = lastFinalCells.pop();
                    lastFinalCells.push(answerCell);
                    answerCell.textContent = icon;
                    answerCell.dataset.taskid = itemID;
                    const arr = [];
                    for (let i = 0; i <= selectedCells.length; i++) {
                        arr.push(item.answer[selectedCells.length - i]);
                    }
                    answerCell.dataset.word = "";
                    selectedCells.forEach((cell) => {
                        let c = arr.pop();
                        cell.textContent = c;
                        cell.classList.add("texted");
                        answerCell.dataset.word += c;
                    });
                    choosen = true;
                });
                container.appendChild(wordItem);
            });
        };

        // Первоначальная сортировка по умолчанию
        items.sort((a, b) => a.answer.localeCompare(b.answer));
        renderItems(items);

        // Обработчик клика по заголовкам
        header.querySelector('#answerHeader').addEventListener('click', () => {
            items.sort((a, b) => answerSortDirection ? b.answer.localeCompare(a.answer) : a.answer.localeCompare(b.answer));
            answerSortDirection = !answerSortDirection; // Меняем направление
            renderItems(items);
        });

        header.querySelector('#typeHeader').addEventListener('click', () => {
            items.sort((a, b) => {
                if (a.type === b.type) return 0;
                return (typeSortDirection ? a.type.localeCompare(b.type) : b.type.localeCompare(a.type));
            });
            typeSortDirection = !typeSortDirection; // Меняем направление
            renderItems(items);
        });

        wordList.appendChild(header);
        wordList.appendChild(container);
    }
</script>
</body>
</html>