<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сканворд</title>
    <link rel="stylesheet" href="/css/solvingScanword.css">
</head>
<body>

<button id="hint" class="fixed-button" title="Раскрывает все буквы в выделенном слове">Взять подсказку</button>

<header>
    <div class="title" id="title">Загрузка сканворда...</div>
    <a href="/help" class="help">?</a>
</header>

<div class="main-container">
    <div class="container">
        <p id="definition" class="definition"></p>
        <audio src="" id="melody"></audio>
        <img src="" alt="Image" id="image" class="image">
    </div>
    <div id="crosswordContainer" class="scanwordContainer"></div>
</div>

<script src="/js/solvingScanword.js"></script>

</body>
</html>