<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сканворд</title>
    <link rel="stylesheet" href="/css/solvingScanword.css">
</head>
<body>

<header>
    <div class="title" id="title">Загрузка сканворда...</div>
    <a href="/help" class="help">?</a>
</header>

<div class="container">
    <p id="definition">Тест</p>
    <audio src="" id="melody"></audio>
    <img src="" alt="Image" id="image">
</div>
<div id="crosswordContainer"></div>

<script src="/js/solvingScanword.js"></script>

</body>
</html>