<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список сканвордов</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
<div class="container">
    <h1>Список всех сканвордов</h1>
    <!-- Прогресс-индикатор -->
    <div class="spinner" id="spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Загрузка...</span>
        </div>
    </div>
    <div class="grid" id="image-grid"></div>

    <!-- Блок с кнопками -->
    <div class="button-container" id="button-container">
        <button id="back-button">Назад</button>
        <button id="select-button" hidden>Выбрать</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetchImages();
    });

    function fetchImages() {
        // Показать спиннер перед загрузкой изображений
        const spinner = document.getElementById('spinner');
        spinner.style.display = 'flex';

        fetch('/scanword')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Сеть не в порядке');
                }
                return response.json();
            })
            .then(scanwords => {
                const grid = document.getElementById('image-grid');
                scanwords.forEach(scanword => {
                    if(scanword.isCreated) {
                        const item = document.createElement('div');
                        item.className = 'item';
                        console.debug(scanword);
                        const img = document.createElement('img');
                        img.src = scanword.base64Image;
                        img.alt = "Сканворд";
                        img.style.maxWidth = "100%";

                        item.prepend(img);
                        item.innerHTML += `<p>Сканворд: ${scanword.name}</p>`;
                        item.innerHTML += `<p>Количество подсказок: ${scanword.numberOfHints}</p>`;
                        const buttonContainer = document.getElementById('button-container');
                        buttonContainer.style.display = 'flex';
                        buttonContainer.scrollIntoView({behavior: 'smooth', block: 'center'});
                        const backButton = document.getElementById('back-button');
                        backButton.hidden = false;
                        // Добавляем обработчик клика на элемент
                        item.addEventListener('click', function () {
                            // Снимаем выделение с предыдущих элементов
                            document.querySelectorAll('.item').forEach(i => i.classList.remove('selected'));

                            // Выделяем текущий элемент
                            item.classList.add('selected');

                            // Настраиваем кнопку "Выбрать"
                            const selectButton = document.getElementById('select-button');
                            selectButton.hidden = false;
                            selectButton.setAttribute('data-id', scanword.id);
                            selectButton.setAttribute('data-content', JSON.stringify(scanword.content));
                            selectButton.scrollIntoView({behavior: 'smooth'});
                        });

                        grid.appendChild(item);
                    }
                });

                // Скрыть спиннер после загрузки
                spinner.style.display = 'none';
            })
            .catch(error => {
                console.error('Ошибка:', error);
                spinner.style.display = 'none';
            });
    }

    // Обработчик для кнопки "Выбрать"
    document.getElementById('select-button').addEventListener('click', function() {
        const id = this.getAttribute('data-id');
        const content = JSON.parse(this.getAttribute('data-content'));
        const requestData = {
            scanwordId: id,
            content: content
        }
        fetch('draft-scanword',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // Обязательно укажите тип содержимого
            },
            body: JSON.stringify(requestData) // Преобразуем данные в JSON
        })
            .then(response => response.json())
            .then(data => {
                localStorage.setItem('draft-scanword-id', data.id);
                localStorage.setItem('scanword-id',data.scanwordId);
            });

        window.location.href = 'solving-scanword';
    });

    // Обработчик для кнопки "Назад"
    document.getElementById('back-button').addEventListener('click', function() {
        window.location.href = '/';
    });
</script>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
