<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работа со словарями</title>
    <link rel="stylesheet" href="/css/work-with-dictionaries.css">
</head>
<body>

<header>
    <div class="title">Работа со словарями</div>
    <a href="/help" class="help">?</a>
</header>

<div class="container">
    <div class="table-container">
        <table id="dictionary-table">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Слово</th>
                <th onclick="sortTable(1)">Определение</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="controls">
        <select id="dictionary-select">
            <option>Словарь понятий...</option>
        </select>
        <button id="melody-gallery-button" class="main-button">Галерея мелодий</button>
        <button id="image-gallery-button" class="main-button">Галерея картинок</button>
        <button id="delete-row" class="main-button">Удалить запись</button>
        <button id="add-row" class="main-button">Добавить запись</button>
        <div id="error" class="error-message">Сообщение об ошибке</div>

    </div>
</div>
<script>
    let dictionaryId;
    let selectedRow;
    let isImage = false;
    let isMelody = false;

    document.addEventListener('DOMContentLoaded', () => {
        const dictionarySelect = document.getElementById('dictionary-select');
        const dictionaryTableBody = document.getElementById('dictionary-table').querySelector('tbody');
        const dictionaryTable = document.getElementById('dictionary-table');
        const imageGalleryButton = document.getElementById('image-gallery-button');
        const melodyGalleryButton = document.getElementById('melody-gallery-button');
        const deleteButton = document.getElementById('delete-row');
        const addButton = document.getElementById('add-row');
        const message = document.getElementById('error');
        const imageInput = document.createElement('input');
        const melodyInput = document.createElement('input');
        imageInput.type = 'file';
        imageInput.accept = 'image/*';
        melodyInput.type = 'file';
        melodyInput.accept = 'audio/*';
        // Загрузка списка словарей
        fetch('/dictionary')
            .then(response => response.json())
            .then(data => {
                data.forEach(dictionary => {
                    const option = document.createElement('option');
                    option.value = dictionary.id;
                    option.textContent = dictionary.name;
                    dictionarySelect.appendChild(option);
                });
            })
            .catch(error => console.error('Ошибка загрузки словарей:', error));

        // Обработчик клика по строкам таблицы
        dictionaryTable.addEventListener('click', (event) => {
            const targetRow = event.target.closest('tr'); // Найдем родительскую строку, на которую нажали
            if (targetRow && targetRow.nodeName === 'TR' && targetRow.rowIndex > 1) { // Проверяем, что это строка
                // Сбрасываем выделение предыдущей строки
                if (selectedRow) {
                    dictionaryTable.rows[selectedRow.rowIndex].style.backgroundColor = 'white';
                }
                // Выделяем новую строчку
                targetRow.classList.add('selected');
                targetRow.style.backgroundColor = 'red';
                selectedRow = targetRow; // Запоминаем выделенную строку
            }
        });

        // Обработчик изменения выбора словаря
        dictionarySelect.addEventListener('change', () => {
            const selectedDictionaryId = dictionarySelect.value;
            message.style.display = 'none';
            if (selectedDictionaryId) {
                fetch(`/dictionary/${selectedDictionaryId}`)
                    .then(response => response.json())
                    .then(data => {
                        dictionaryId = selectedDictionaryId;
                        dictionaryTableBody.innerHTML = ''; // Очистка таблицы
                        var table = document.getElementById("dictionary-table");
                        if (table.rows[0].cells.length === 3) {
                            table.rows[0].deleteCell(-1);
                        }
                        const inputRow = document.createElement('tr');
                        const inputWord = document.createElement('td');
                        const inputDefinition = document.createElement('td');
                        // Создаем элементы input
                        const wordInput = document.createElement('input');
                        wordInput.type = 'text';
                        wordInput.placeholder = 'Введите слово...';
                        wordInput.style.textAlign = 'center';

                        const definitionInput = document.createElement('input');
                        definitionInput.type = 'text';
                        definitionInput.placeholder = 'Введите определение...';
                        definitionInput.style.width= '98%';
                        definitionInput.style.textAlign = 'center';

                        // Добавляем input в соответствующие ячейки
                        inputWord.appendChild(wordInput);
                        inputDefinition.appendChild(definitionInput);
                        // Добавляем ячейки в строку
                        inputRow.appendChild(inputWord);
                        inputRow.appendChild(inputDefinition);
                        dictionaryTableBody.appendChild(inputRow);
                        data.dictionaryData.forEach(item => {
                            const row = document.createElement('tr');
                            const wordCell = document.createElement('td');
                            const definitionCell = document.createElement('td');
                            wordCell.textContent = item.word;
                            definitionCell.textContent = item.definition;
                            row.appendChild(wordCell);
                            row.appendChild(definitionCell);
                            dictionaryTableBody.appendChild(row);
                        });

                    })
                    .catch(error => console.error('Ошибка загрузки данных словаря:', error));
            }
        });


        // Обработчик для кнопки "Галерея картинок"
        imageGalleryButton.addEventListener('click', () => {
            selectedRow = null;
            dictionaryId = null;
            isMelody = false;
            imageInput.value = "";
            message.style.display = 'none';
            fetch('/image')
                .then(response => response.json())
                .then(image => {
                    dictionaryTableBody.innerHTML = ''; // Очистка таблицы
                    // Получаем таблицу
                    var table = document.getElementById("dictionary-table");
                    if (table.rows[0].cells.length === 3) {
                        table.rows[0].deleteCell(-1);
                    }
                    // Добавляем заголовок для новой колонки
                    var header = table.rows[0].insertCell(-1);
                    header.outerHTML = "<th>Картинка</th>"; // Устанавливаем заголовок

                    const inputRow = document.createElement('tr');
                    const inputWord = document.createElement('td');
                    const inputDefinition = document.createElement('td');
                    const inputImage = document.createElement('td');
                    // Создаем элементы input
                    const wordInput = document.createElement('input');
                    wordInput.type = 'text';
                    wordInput.placeholder = 'Введите слово...';

                    const definitionInput = document.createElement('input');
                    definitionInput.type = 'text';
                    definitionInput.placeholder = 'Введите определение...';


                    // Добавляем input в соответствующие ячейки
                    inputWord.appendChild(wordInput);
                    inputDefinition.appendChild(definitionInput);
                    inputImage.appendChild(imageInput);
                    // Добавляем ячейки в строку
                    inputRow.appendChild(inputWord);
                    inputRow.appendChild(inputDefinition);
                    inputRow.appendChild(inputImage);
                    dictionaryTableBody.appendChild(inputRow);
                    image.forEach(img => {
                        const row = document.createElement('tr');
                        const wordCell = document.createElement('td');
                        const definitionCell = document.createElement('td');
                        const imageCell = document.createElement('td');
                        const imageElement = document.createElement('img');
                        imageElement.src = img.base64Image;
                        imageElement.style.maxWidth = "20%";
                        imageElement.style.maxHeight = '20%';
                        imageCell.appendChild(imageElement);
                        wordCell.textContent = img.answer;
                        definitionCell.textContent = img.question;
                        row.appendChild(wordCell);
                        row.appendChild(definitionCell);
                        row.appendChild(imageCell);
                        dictionaryTableBody.appendChild(row);
                    });

                })
                .catch(error => console.error('Ошибка загрузки изображений:', error));
        });

        // Обработчик для кнопки "Галерея мелодий"
        melodyGalleryButton.addEventListener('click', () => {
            selectedRow = null;
            dictionaryId = null;
            isImage = false;
            melodyInput.value = "";
            message.style.display = 'none';
            fetch('/melody')
                .then(response => response.json())
                .then(melodies => {
                    dictionaryTableBody.innerHTML = ''; // Очистка таблицы
                    // Получаем таблицу
                    var table = document.getElementById("dictionary-table");
                    // Добавляем заголовок для новой колонки
                    if (table.rows[0].cells.length === 3) {
                        table.rows[0].deleteCell(-1);
                    }
                    var header = table.rows[0].insertCell(-1);
                    header.outerHTML = "<th>Мелодия</th>"; // Устанавливаем заголовок

                    const inputRow = document.createElement('tr');
                    const inputWord = document.createElement('td');
                    const inputDefinition = document.createElement('td');
                    const inputMelody = document.createElement('td');
                    // Создаем элементы input
                    const wordInput = document.createElement('input');
                    wordInput.type = 'text';
                    wordInput.placeholder = 'Введите слово...';

                    const definitionInput = document.createElement('input');
                    definitionInput.type = 'text';
                    definitionInput.placeholder = 'Введите определение...';

                    const nameInput = document.createElement('input');
                    nameInput.type = 'text';
                    nameInput.placeholder = 'Введите имя композитора и название мелодии... ';
                    nameInput.style.width = (nameInput.placeholder.length + 1) * 8 + 'px';
                    // Добавляем input в соответствующие ячейки
                    inputWord.appendChild(wordInput);
                    inputDefinition.appendChild(definitionInput);
                    inputMelody.appendChild(nameInput);
                    inputMelody.appendChild(melodyInput);
                    // Добавляем ячейки в строку
                    inputRow.appendChild(inputWord);
                    inputRow.appendChild(inputDefinition);
                    inputRow.appendChild(inputMelody);
                    dictionaryTableBody.appendChild(inputRow);
                    melodies.forEach(melody => {
                        const row = document.createElement('tr');
                        const wordCell = document.createElement('td');
                        const definitionCell = document.createElement('td');
                        const melodyCell = document.createElement('td');
                        const titleElement = document.createElement('div');
                        titleElement.textContent = melody.name;
                        titleElement.style.marginBottom = '8px';
                        wordCell.textContent = melody.answer;
                        definitionCell.textContent = melody.question;

                        const base64Melody = melody.melody;

                        // Преобразуем base64 в бинарные данные
                        const byteCharacters = atob(base64Melody);
                        const byteNumbers = new Uint8Array(byteCharacters.length);
                        for (let i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }

                        const audioBlob = new Blob([byteNumbers], {type: 'audio/mpeg'}); // Укажите правильный тип аудио
                        const audioURL = URL.createObjectURL(audioBlob); // Создание URL для аудио

                        const audio = document.createElement('audio');
                        audio.controls = true;
                        audio.src = audioURL;
                        melodyCell.appendChild(titleElement);
                        melodyCell.appendChild(audio);
                        row.appendChild(wordCell);
                        row.appendChild(definitionCell);
                        row.appendChild(melodyCell);
                        dictionaryTableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Ошибка загрузки мелодий:', error));
        });

        imageInput.addEventListener('change', (event) => {
            const file = event.target.files[0]; // Получаем первый файл из выбранных
            const previewImage = document.createElement('img');
            message.style.display = 'none';
            if (file) {
                const imageURL = URL.createObjectURL(file);
                previewImage.src = imageURL; // Устанавливаем src в результат
                previewImage.onload = () => URL.revokeObjectURL(imageURL);
                previewImage.style.maxWidth = '20%';
                previewImage.style.maxHeight = '20%';
                if (dictionaryTableBody.rows[0].cells[2].children.length >= 2) {
                    const img = dictionaryTableBody.rows[0].cells[2].lastChild;
                    dictionaryTableBody.rows[0].cells[2].removeChild(img);
                }
                dictionaryTableBody.rows[0].cells[2].appendChild(previewImage);
                isImage = true;
            } else {
                previewImage.style.display = 'none'; // Скрываем изображение, если файл не выбран
            }
        });

        melodyInput.addEventListener('change', (event) => {
            const file = event.target.files[0]; // Получаем первый файл из выбранных
            const audioPlayer = document.createElement('audio');
            message.style.display = 'none';
            if (file) {
                const reader = new FileReader(); // Создаем экземпляр FileReader
                // Устанавливаем обработчик события onload для FileReader
                reader.onload = function (event) {
                    audioPlayer.src = event.target.result; // Устанавливаем источник аудиоплеера на прочитанный файл
                    audioPlayer.controls = true;
                    if (dictionaryTableBody.rows[0].cells[2].children.length >= 3) {
                        const player = dictionaryTableBody.rows[0].cells[2].lastChild;
                        dictionaryTableBody.rows[0].cells[2].removeChild(player);
                    }
                    dictionaryTableBody.rows[0].cells[2].appendChild(audioPlayer);
                };
                reader.readAsDataURL(file); // Читаем файл как Data URL
                isMelody = true;
            }
        });

        // Обработчик кнопки "Добавить запись в выбранный словарь"
        addButton.addEventListener('click', () => {
            const row = dictionaryTableBody.rows[0];
            const inputs = row.querySelectorAll('input');
            const maxSizeInBytes = 1024 * 1024; // 1 МБ в байтах
            if (inputs.length >= 2) {
                const word = inputs[0].value.trim();
                const definition = inputs[1].value.trim();
                // Проверяем, что оба поля не пустые
                if (word && definition && dictionaryId) {
                    // Отправляем данные на сервер
                    fetch(`/dictionary/${dictionaryId}?operation=1&word=${word}&definition=${definition}`, { // Замените на ваш эндпоинт
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                // Успешно добавлено
                                console.log('Данные успешно добавлены');
                                // Очистка полей ввода
                                inputs[0].value = '';
                                inputs[1].value = '';
                                const row = document.createElement('tr');
                                const wordCell = document.createElement('td');
                                const definitionCell = document.createElement('td');
                                wordCell.textContent = word;
                                definitionCell.textContent = definition;
                                row.appendChild(wordCell);
                                row.appendChild(definitionCell);
                                dictionaryTableBody.appendChild(row);
                                sortTable(0);
                            } else {
                                console.error('Ошибка при добавлении данных');
                            }
                        })
                        .catch(error => console.error('Ошибка сети:', error));
                } else if (word && definition && isImage) {
                    const file = imageInput.files[0];
                    if (file) {
                        if(file.size > maxSizeInBytes){
                            const message = document.getElementById('error');
                            message.textContent = 'Размер изображения не должени превышать 1 МБ';
                            message.style.display = 'block';
                            inputs[0].value = '';
                            inputs[1].value = '';
                            imageInput.value = "";
                            dictionaryTableBody.rows[0].cells[2].innerHTML = '';
                            dictionaryTableBody.rows[0].cells[2].appendChild(imageInput);
                        }
                        else {
                            const formData = new FormData(); // Создаем новый объект FormData
                            formData.append('image', file); // Добавляем изображение в FormData
                            formData.append('question', definition); // Добавляем вопрос
                            formData.append('answer', word); // Добавляем ответ
                            fetch('/image', {
                                method: 'POST',
                                body: formData
                            }).then(response => {
                                if (response.ok) {
                                    // Успешно добавлено
                                    console.log('Данные успешно добавлены');
                                    // Очистка полей ввода
                                    inputs[0].value = '';
                                    inputs[1].value = '';
                                    imageInput.value = "";
                                    dictionaryTableBody.rows[0].cells[2].innerHTML = '';
                                    dictionaryTableBody.rows[0].cells[2].appendChild(imageInput);
                                    const row = document.createElement('tr');
                                    const wordCell = document.createElement('td');
                                    const definitionCell = document.createElement('td');
                                    const imageCell = document.createElement('td');
                                    const imageElement = document.createElement('img');
                                    const imageURL = URL.createObjectURL(file);
                                    imageElement.src = imageURL; // Устанавливаем src в результат
                                    imageElement.onload = () => URL.revokeObjectURL(imageURL);
                                    imageElement.style.maxWidth = '20%';
                                    imageElement.style.maxHeight = '20%';
                                    imageCell.appendChild(imageElement);
                                    wordCell.textContent = word;
                                    definitionCell.textContent = definition;
                                    row.appendChild(wordCell);
                                    row.appendChild(definitionCell);
                                    row.appendChild(imageCell);
                                    dictionaryTableBody.appendChild(row);
                                    sortTable(0);
                                } else {
                                    console.error('Ошибка при добавлении данных');
                                }
                            })
                                .catch(error => console.error('Ошибка сети:', error));
                        }
                    } else {
                        console.error('Файл не выбран!');
                    }
                    isImage = false;
                } else if (word && definition && isMelody) {
                    const name = inputs[2].value.trim();
                    const file = melodyInput.files[0];
                    if(file && name){
                        if(file.size > maxSizeInBytes){
                            const message = document.getElementById('error');
                            message.textContent = 'Размер мелодии не должени превышать 1 МБ';
                            message.style.display = 'block';
                            inputs[0].value = '';
                            inputs[1].value = '';
                            inputs[2].value = '';
                            melodyInput.value = "";
                            dictionaryTableBody.rows[0].cells[2].innerHTML = '';
                            const nameInput = document.createElement('input');
                            nameInput.type = 'text';
                            nameInput.placeholder = 'Введите имя композитора и название мелодии... ';
                            nameInput.style.width = (nameInput.placeholder.length + 1) * 8 + 'px';
                            dictionaryTableBody.rows[0].cells[2].appendChild(nameInput);
                            dictionaryTableBody.rows[0].cells[2].appendChild(melodyInput);
                        }
                        else {
                            const formData = new FormData(); // Создаем новый объект FormData
                            formData.append('audio', file); // Добавляем изображение в FormData
                            formData.append('question', definition); // Добавляем вопрос
                            formData.append('answer', word); // Добавляем ответ
                            formData.append('name', name);
                            fetch('/melody', {
                                method: 'POST',
                                body: formData
                            }).then(response => {
                                if (response.ok) {
                                    const reader = new FileReader();
                                    // Успешно добавлено
                                    console.log('Данные успешно добавлены');
                                    // Очистка полей ввода
                                    inputs[0].value = '';
                                    inputs[1].value = '';
                                    inputs[2].value = '';
                                    melodyInput.value = "";
                                    dictionaryTableBody.rows[0].cells[2].innerHTML = '';
                                    const nameInput = document.createElement('input');
                                    nameInput.type = 'text';
                                    nameInput.placeholder = 'Введите имя композитора и название мелодии... ';
                                    nameInput.style.width = (nameInput.placeholder.length + 1) * 8 + 'px';
                                    dictionaryTableBody.rows[0].cells[2].appendChild(nameInput);
                                    dictionaryTableBody.rows[0].cells[2].appendChild(melodyInput);
                                    const row = document.createElement('tr');
                                    const wordCell = document.createElement('td');
                                    const definitionCell = document.createElement('td');
                                    const melodyCell = document.createElement('td');
                                    const melodyElement = document.createElement('audio');
                                    reader.onload = function (event) {
                                        melodyElement.src = event.target.result; // Устанавливаем источник аудиоплеера на прочитанный файл
                                        melodyElement.controls = true;
                                    };
                                    reader.readAsDataURL(file); // Читаем файл как Data URL
                                    const titleElement = document.createElement('div');
                                    titleElement.textContent = name;
                                    titleElement.style.marginBottom = '8px';
                                    melodyCell.appendChild(titleElement);
                                    melodyCell.appendChild(melodyElement);
                                    wordCell.textContent = word;
                                    definitionCell.textContent = definition;
                                    row.appendChild(wordCell);
                                    row.appendChild(definitionCell);
                                    row.appendChild(melodyCell);
                                    dictionaryTableBody.appendChild(row);
                                    sortTable(0);
                                } else {
                                    console.error('Ошибка при добавлении данных');
                                }
                            })
                                .catch(error => console.error('Ошибка сети:', error));
                        }
                    }
                    else {
                        console.error('Файл не выбран!');
                    }
                    isMelody = false;
                } else {
                    alert('Пожалуйста, заполните все поля');
                }
            } else {
                alert('Пожалуйста, заполните все поля');
            }
        });

        // Обработчик кнопки "Удалить запись из выбранного словаря"
        deleteButton.addEventListener('click', () => {
            if (selectedRow) {
                const word = selectedRow.cells[0].textContent; // Получаем слово из первой ячейки
                const definition = selectedRow.cells[1].textContent; // Получаем определение из второй ячейки
                if (dictionaryId != null) {
                    fetch(`/dictionary/${dictionaryId}?word=${word}&definition=${definition}&operation=2`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Запись успешно удалена');
                                // Удалим строку из визуального представления (опционально)
                                dictionaryTable.deleteRow(selectedRow.rowIndex);
                                selectedRow = null; // Сбрасываем выделение
                            } else {
                                console.error('Ошибка при удалении записи');
                            }
                        })
                        .catch(error => console.error('Ошибка сети:', error));
                } else if (dictionaryTableBody.querySelectorAll('input').length === 3) {
                    fetch(`image/${word}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Запись успешно удалена');
                                // Удалим строку из визуального представления
                                dictionaryTable.deleteRow(selectedRow.rowIndex);
                                selectedRow = null; // Сбрасываем выделение

                            } else {
                                console.error('Ошибка при удалении записи');
                            }
                        })
                        .catch(error => console.error('Ошибка сети:', error));
                }
                else {
                    const name = selectedRow.cells[2].textContent;
                    fetch(`/melody/${name}`,{
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Запись успешно удалена');
                                // Удалим строку из визуального представления
                                dictionaryTable.deleteRow(selectedRow.rowIndex);
                                selectedRow = null; // Сбрасываем выделение
                            } else {
                                console.error('Ошибка при удалении записи');
                            }
                        })
                        .catch(error => console.error('Ошибка сети:', error));
                }
            } else {
                alert('Пожалуйста, выберите запись для удаления');
            }
        });
    });


    // Функция сортировки таблицы
    function sortTable(columnIndex) {
        const table = document.getElementById('dictionary-table');
        const tbody = table.querySelector('tbody');
        const rows = Array.from(tbody.querySelectorAll('tr'));

        rows.sort((a, b) => {
            const cellA = a.cells[columnIndex].textContent.trim();
            const cellB = b.cells[columnIndex].textContent.trim();

            return cellA.localeCompare(cellB); // Сравнение по алфавиту
        });
        rows.forEach(row => tbody.appendChild(row)); // Перемещение отсортированных строк в tbody
    }
</script>
</body>
</html>